<!DOCTYPE html>
<html lang="en-GB"
      layout:decorate="~{base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:fragment="title">Garage</title>
</head>

<body>
<main layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Garage</h1>
    </div>

    <div class="text-danger mb-3" id="message"></div>

    <h2>Cars</h2>
    <ul class="list-group mb-4" id="carList"></ul>

    <h2>Add / Edit Car</h2>
    <form id="carForm">
        <input id="carId" type="hidden"/>

        <div class="mb-3">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" id="name" required type="text"/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="fuelType">Fuel Type:</label>
            <select class="form-select" id="fuelType" required></select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="engineCapacity">Engine Capacity (cc):</label>
            <input class="form-control" id="engineCapacity" min="0" required type="number"/>
        </div>

        <button class="btn btn-success" type="submit">Save</button>
    </form>
    <script src="/js/garage.js"></script>
</main>


</body>
</html>
