<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title layout:fragment="title">Home Page</title>
</head>
<body>
<main layout:fragment="content">
    <ul class="list-group mb-4">
        <li class="list-group-item" id="loginLink"><a href="/login">Login Page</a></li>
        <li class="list-group-item" id="meLink" style="display: none;"><a href="/me">User Info</a></li>
        <li class="list-group-item" id="adminLink" style="display: none;"><a href="/admin">Admin Panel</a></li>
        <li class="list-group-item"><a href="/garage">Garage</a></li>
        <li class="list-group-item"><a href="/trips">Trips</a></li>
        <li class="list-group-item"><a href="/swagger-ui/index.html" target="_blank">Swagger UI</a></li>
    </ul>

    <div class="text-center mb-3" id="authActions"></div>

    <script src="/js/home.js"></script>
</main>
</body>
</html>
